body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: url('banner-bgmi.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.container {
    max-width: 500px;
    padding: 20px 30px;
    background-color: rgba(0, 0, 0, 0.8); /* Transparent dark overlay */
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
}

@media (max-width: 600px) {
    .container {
        max-width: 90%;
        padding: 15px;
    }
    h2 {
        font-size: 1.5em;
    }
}
